body {
  background-color: #08090a;
  font-family: "inter", "inter Fallback";
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  padding: 12px 24px 16px 24px;
  z-index: 1;
  backdrop-filter: blur(16px);
  box-sizing: border-box;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 66rem;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 8rem;
}

#header__logo {
  display: flex;
}

#header__logo > img {
  max-width: 6.5rem;
  height: 1.5rem;
}

.nav__list {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  display: block;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  transition: background-color 0.2s ease;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.nav__link:hover {
  background-color: #ffffff0d;
}

.header__right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125;
  border-radius: 999px;
}

.btn--ghost {
  border: none;
  background-color: #ffffff0d;
  color: white;
  width: max-content;
}

.btn--primary {
  border: none;
  background-color: white;
  color: #08090a;
  width: max-content;
}

.hero {
  display: flex;
  position: relative;
  color: white;
  flex-direction: column;
  align-items: center;
}

.hero__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./src/assets/svg/bg-dark.svg");
  top: -6rem;
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 104px;
  padding-bottom: 96px;
}

.hero__announcement {
  display: flex;
  border-radius: 999px;
  color: white;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  background-color: #ffffff26;
  width: max-content;
  gap: 0.975rem;
  align-items: center;
}

.hero__announcement:hover {
  background-color: #ffffff12;
}

.chip {
  background-color: #0c8c5e;
  border-radius: 999px;
  padding: 0.125rem 0.5rem;
}

.hero__announcement-icon {
  width: 0.875rem;
  height: 0.875rem;
}

.hero__content {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero__title {
  line-height: 115%;
  max-width: 43rem;
  font-size: 4rem;
  font-weight: 600;
  text-wrap: balance;
}

.hero__subtitle {
  font-size: 1.125rem;
  line-height: 150%;
  max-width: 29.5rem;
  text-wrap: pretty;
}

.hero__form {
  display: flex;
  border-radius: 999px;
  background-color: #ffffff26;
  padding: 0.25rem;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem); /* Safari */
}

.hero__input {
  background: transparent;
  border: none;
  padding-inline: 0.725rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
}

.hero__input:focus-visible {
  outline: none;
}

.hero__bottom__visual > img {
  width: 100%;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  border: 3px solid #ffffff0d;
  background-color: #08090a;
  max-width: 1080px;
  margin: 0 auto;
}

.logos {
  padding: 144px 32px 72px 32px;
}

.logos__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px 8px;
}

.logos__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 64px;
}

.features {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 1024px;
  margin: 0 auto;
}

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.features__headline {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
}

.features__subheadline {
  text-align: center;
  text-wrap: balance;
  color: #ffffffb3;
  max-width: 648px;
  font-size: 16px;
  line-height: 24px;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.f-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff12;
  border-radius: 24px;
}

.f-card__content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.f-card__tag {
  line-height: 150%;
  font-weight: 500;
  text-transform: uppercase;
  color: #18e299;
}

.f-card__title {
  font-size: 24px;
  line-height: 130%;
}

.f-card__description {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffffb3;
  text-wrap: balance;
}
.f-card__visual > img {
  width: 100%;
}

.f-card--featured {
  grid-column: span 2;
  text-align: center;
}

.enterprise {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 72px;
  background: #ffffff0d;
}

.enterprise__header {
  display: flex;
  justify-content: space-between;
}
.enterprise__intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.enterprise__label {
  line-height: 150%;
  font-weight: 500;
  text-transform: uppercase;
  color: #18e299;
}
.enterprise__title {
  font-size: 44px;
  text-wrap: balance;
}
.enterprise__description {
  color: #ffffffb3;
}

.enterprise__actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.enterprise__grid {
  display: flex;
  gap: 48px;
}

.e-card__icon {
  width: 32px;
  height: 32px;
}
.e-card__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.e-card__text {
  font-size: 16px;
  color: #ffffffb3;
  text-wrap: pretty;
}
.story {
  display: flex;
  justify-content: center;
}

.story__link {
  position: relative;
  color: white;
  height: 518px;
}

.story__visual {
  height: 100%;
  position: absolute;
  z-index: -1;
}

.story__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.story__content {
  padding: 64px;
}

.story__tag {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.story__headline {
  font-size: 24;
  line-height: 1.33;
  max-width: 448px;
  margin-top: 16px;
  font-weight: 500;
}

.story__cta {
  margin-top: 32px;
  display: flex;
  gap: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  align-items: center;
}
.story__arrow {
  width: 10px;
  height: 10px;
  transform: rotate(-90deg);
}

.story__stats {
  display: flex;
  gap: 28px;
  margin-top: 48px;
}
.stat {
  display: flex;
  flex-direction: column;
}
.stat__value {
  display: flex;
  font-size: 40px;
  line-height: 110%;
}
.stat__label {
  color: #ffffffcc;
  text-wrap: balance;
  font-weight: 14px;
  line-height: 24px;
}

.client-logos {
  display: flex;
}

.client-logos__list {
  list-style-type: none;
  display: flex;
  gap: 48px;
  align-items: center;
  width: max-content;
}

.client-logos__btn {
  background: transparent;
  border: none;
}

.grey-scale {
  filter: grayscale(100%);
}
.low-brighness {
  filter: brightness(0.3);
}

.review__section {
  display: flex;
  flex-direction: column;
}
.review__section__about {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 48px 32px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.review__section__about__name {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  text-transform: uppercase;
  color: #18e299;
}

.review__section__about__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 110%;
  color: white;
  text-wrap: balance;
}
.review__section__about__desc {
  color: #ffffffb3;
  text-wrap: pretty;
  font-size: 16px;
  line-height: 24px;
}

.review__card__list {
  display: flex;
  overflow: clip;
  gap: 16px;
}

.review__card__item {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  flex-shrink: 0;
}
.review__card__item__top {
  height: 290px;
}

.review__card__item__top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.review__card__item__bottom {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  gap: 24px;
}

.review__card__item__bottom > p {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  color: #ffffffb3;
}

.review__card__item__bottom > .story__arrow {
  color: #ffffff80;
}
