body {
  background-color: #08090a;
  font-family: "inter", "inter Fallback";
  margin: 0;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  padding: 12px 24px 16px 24px;
  z-index: 1;
  backdrop-filter: blur(16px);
  box-sizing: border-box;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 66rem;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.header__logo,
.footer__logo {
  display: flex;
}

.header__logo > img,
.footer__logo > img {
  max-width: 6.5rem;
  height: 1.5rem;
}

.nav__list {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.nav__link {
  display: block;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  transition: background-color 0.2s ease;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.nav__link:hover {
  background-color: #ffffff0d;
}

.header__right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125;
  border-radius: 999px;
}

.btn--ghost {
  border: none;
  background-color: #ffffff0d;
  color: white;
  width: max-content;
}

.btn--primary {
  border: none;
  background-color: white;
  color: #08090a;
  width: max-content;
}

.btn--primary:hover {
  background-color: #ffffffd9;
}

.hero {
  display: flex;
  position: relative;
  color: white;
  flex-direction: column;
  align-items: center;
  top: 80px;
}

.hero__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./src/assets/svg/bg-dark.svg");
  top: -6rem;
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero__announcement {
  display: flex;
  position: absolute;
  border-radius: 999px;
  color: white;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  background-color: #ffffff26;
  width: max-content;
  gap: 0.975rem;
  align-items: center;
  top: 30px;
}

.hero__announcement:hover {
  background-color: #ffffff12;
}

.chip {
  background-color: #0c8c5e;
  border-radius: 999px;
  padding: 0.125rem 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    lab(100 0 0 / 0.05) 0px 2px 4px 0px;
  line-height: 150%;
}

.hero__announcement-icon {
  width: 0.875rem;
  height: 0.875rem;
}

.hero__content {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 104px;
  padding-bottom: 96px;
}

.hero__title {
  line-height: 115%;
  max-width: 43rem;
  font-size: 4rem;
  font-weight: 600;
  text-wrap: balance;
}

.hero__subtitle {
  font-size: 1.125rem;
  line-height: 150%;
  max-width: 29.5rem;
  text-wrap: pretty;
  margin-top: 24px;
}

.hero__form {
  display: flex;
  border-radius: 999px;
  background-color: #ffffff26;
  padding: 0.25rem;
  backdrop-filter: blur(0.25rem);
  margin-top: 32px;
  max-width: 360px;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #ffffff26;
}

.hero__input {
  background: transparent;
  border: none;
  padding-inline: 0.725rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
}

.hero__input:focus-visible {
  outline: none;
}
.hero__input::placeholder {
  color: #ffffffb3;
}

.hero__bottom__visual > img {
  width: 100%;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  border: 3px solid #ffffff0d;
  background-color: #08090a;
  max-width: 1080px;
  margin: 0 auto;
}

.logos {
  padding: 144px 32px 72px 32px;
}

.logos__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px 8px;
}

.logos__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 64px;
}

.features {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 1024px;
  margin: 0 auto;
}

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 48px 0;
}

.features__headline {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
}

.features__subheadline {
  text-align: center;
  text-wrap: balance;
  color: #ffffffb3;
  max-width: 648px;
  font-size: 16px;
  line-height: 24px;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.f-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff12;
  border-radius: 24px;
}

.f-card__content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.f-card__tag {
  line-height: 150%;
  font-weight: 500;
  text-transform: uppercase;
  color: #18e299;
}

.f-card__title {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.24px;
}

.f-card__description {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffffb3;
  text-wrap: balance;
}
.f-card__visual > img {
  width: 100%;
}

.f-card--featured {
  grid-column: span 2;
  text-align: center;
}

.f-card--featured > .f-card__content {
  padding: 48px 32px;
}

.enterprise {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 72px;
  background: #ffffff0d;
  padding: 96px 0;
}
.enterprise__container {
  max-width: 1024px;
  margin: 0 auto;
}

.enterprise__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}
.enterprise__intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.enterprise__label {
  line-height: 150%;
  font-weight: 500;
  text-transform: uppercase;
  color: #18e299;
}
.enterprise__title {
  font-size: 44px;
  text-wrap: balance;
}
.enterprise__description {
  color: #ffffffb3;
}

.enterprise__actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.enterprise__grid {
  display: flex;
  gap: 48px;
  margin-block: 24px;
  padding-bottom: 48px;
}

.e-card__icon {
  width: 32px;
  height: 32px;
}
.e-card__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 16px;
}

.e-card__text {
  font-size: 16px;
  color: #ffffffb3;
  text-wrap: pretty;
}
.story {
  display: flex;
  width: 100%;
}

.story__link {
  position: relative;
  color: white;
  height: 518px;
  width: 100%;
}

.story__visual {
  height: 100%;
  position: absolute;
  z-index: -1;
}

.story__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.story__content {
  display: flex;
  flex-direction: column;
  padding: 64px;
  height: 100%;
  box-sizing: border-box;
}

.story__tag {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.story__headline {
  font-size: 24;
  line-height: 1.33;
  max-width: 448px;
  margin-top: 16px;
  font-weight: 500;
}

.story__cta {
  margin-top: 32px;
  display: flex;
  gap: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  align-items: center;
}
.story__arrow {
  width: 10px;
  height: 10px;
  transform: rotate(-90deg);
}

.story__stats {
  display: flex;
  gap: 28px;
  margin-top: auto;
}
.stat {
  display: flex;
  flex-direction: column;
  width: 192px;
  gap: 8px;
}
.stat__value {
  display: flex;
  font-size: 40px;
  line-height: 110%;
}

.stat__label {
  color: #ffffffcc;
  text-wrap: balance;
  font-size: 14px;
  line-height: 24px;
}

.client-logos {
  display: flex;
  margin-top: 16px;
}

.client-logos__list {
  display: flex;
  gap: 48px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.client-logos__btn {
  display: flex;
  background: transparent;
  border: none;
  height: 64px;
  width: 140px;
  justify-content: center;
  cursor: pointer;
}

.client-logos__btn > img {
  width: 100%;
  height: 100%;
}

.grey-scale {
  filter: grayscale(100%);
}
.low-brighness {
  filter: brightness(0.3);
}

.reviews {
  display: flex;
  flex-direction: column;
}
.reviews__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 48px 32px;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1024px;
}

.reviews__carousel {
  padding-left: 18%;
}

.subscription__title {
  font-weight: 600;
  line-height: 110%;
  font-size: 40px;
  max-width: 560px;
  text-align: center;
  text-wrap: balance;
}

.subscription__desc {
  font-size: 16px;
  text-wrap: balance;
  line-height: 150%;
  text-align: center;
  margin-top: 16px;
}

.subscription__actions {
  display: flex;
  gap: 8px;
  margin-top: 48px;
}

.subscription__actions > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 24px 7px 24px;
  height: 40px;
  box-sizing: border-box;
}

.subscription__actions > .btn--ghost {
  border: 1px solid #ffffff26;
  background-color: #08090a;
}

.subscription__actions > .btn--ghost:hover {
  border-color: #ffffff0d;
  background-color: #ffffff0d;
}

.reviews__category {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  text-transform: uppercase;
  color: #18e299;
}

.reviews__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 110%;
  color: white;
  text-wrap: balance;
}
.reviews__desc {
  color: #ffffffb3;
  text-wrap: pretty;
  font-size: 16px;
  line-height: 24px;
}

.reviews__list {
  display: flex;
  overflow: clip;
  gap: 16px;
}

.review-card {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  flex-shrink: 0;
}
.review-card__visual {
  height: 290px;
}

.review-card__visual > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.review-card__content {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  gap: 24px;
}

.review-card__text {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  color: #ffffffb3;
}

.review-card__content > .story__cta {
  color: #ffffff80;
}

.reviews__nagivation {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  gap: 16px;
}

.btn--navigation {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ative {
  background: white;
  cursor: pointer;
}

.btn-ative:hover {
  opacity: 0.8;
}

.btn-disable {
  background: white;
  opacity: 0.5;
  cursor: default;
}

.subscription {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  color: white;
  align-items: center;
  rotate: 180%;
  background: linear-gradient(
    to top,
    /* This rotates the gradient 180 degrees */ #151616 0%,
    rgba(21, 22, 22, 0.95) 4.7%,
    rgba(21, 22, 22, 0.89) 8.8%,
    rgba(21, 22, 22, 0.827) 12.6%,
    rgba(21, 22, 22, 0.76) 16.3%,
    rgba(21, 22, 22, 0.69) 19.9%,
    rgba(21, 22, 22, 0.616) 23.8%,
    rgba(21, 22, 22, 0.54) 28.1%,
    rgba(21, 22, 22, 0.467) 33%,
    rgba(21, 22, 22, 0.392) 38.7%,
    rgba(21, 22, 22, 0.318) 45.4%,
    rgba(21, 22, 22, 0.243) 53.2%,
    rgba(21, 22, 22, 0.176) 62.4%,
    rgba(21, 22, 22, 0.114) 73.2%,
    rgba(21, 22, 22, 0.055) 85.6%,
    rgba(21, 22, 22, 0) 100%
  );
}

.subscription__options {
  display: flex;
  justify-content: center;
  margin-top: 56px;
}
.sub-card:first-child {
  border-right: 1px solid #ffffff0d;
}
.sub-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 32px;
}

.sub-card__icon-wrap {
  display: flex;
  border: 0.5px solid #ffffff26;
  background-color: #08090a;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    lab(100 0 0 / 0.05) 0px 2px 4px 0px;
  border-radius: 16px;
}

.sub-card__icon {
  width: 32px;
  height: 32px;
}

.sub-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.sub-card__link {
  display: flex;
  color: #18e299;
  align-items: center;
  gap: 6px;
}

.sub-card__link > img {
  width: 15px;
  height: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff0d;
  border-top: 1px solid #ffffff0d;
}

.footer__container {
  border-left: 1px solid #ffffff0d;
  border-right: 1px solid #ffffff0d;
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
}

.footer__top {
  display: flex;
  padding: 64px 32px 24px 32px;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff0d;
}

.footer__socials {
  display: flex;
  gap: 16px;
}

.social-link {
  opacity: 0.4;
}

.social-link:hover {
  opacity: 0.6;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid #ffffff0d;
  padding: 48px 32px 72px 32px;
}

.footer__nav-col {
  display: flex;
  flex-direction: column;
}

.footer__nav-title {
  color: #ffffff80;
  font-size: 13px;
  line-height: 150%;
  font-size: 500;
  padding: 6px 12px;
  margin-bottom: 4px;
  text-transform: uppercase;
  text-wrap: balance;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__nav-link {
  color: white;
  font-size: 13px;
  line-height: 150%;
  font-weight: 500;
  padding: 6px 12px;
  height: 100%;
  display: flex;
  width: max-content;
  box-sizing: border-box;
}

.footer__nav-link:hover {
  border-radius: 999px;
  background-color: #ffffff0d;
}

.footer__security {
  display: flex;
  border-bottom: 1px solid #ffffff0d;
  padding: 24px 32px;
  gap: 16px;
  align-items: center;
}

.footer__security-text {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: white;
}

.footer__badge {
  width: 96px;
  height: 80px;
}

.footer__bottom {
  display: flex;
  padding: 32px 32px 96px 32px;
  justify-content: space-between;
}

.footer__status {
  display: flex;
  border-radius: 999px;
  color: white;
  padding: 4px 12px;
  background-color: #ffffff26;
  width: max-content;
  gap: 6px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
}

.img__status-indicator {
  width: 12px;
  height: 12px;
}

.footer__copyright {
  font-size: 13px;
  line-height: 150%;
  color: #ffffff99;
}

.footer__theme-switchers {
  background-color: #ffffff0d;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 2px;
}

.footer__theme-btn {
  background: transparent;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer__theme-btn > img {
  height: 12px;
  width: 12px;
}

.dark-mode {
  background-color: black;
}
