body {
  background-color: #08090a;
  font-family: "inter", "inter Fallback";
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0.5rem;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 66rem;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 8rem;
}

#header__logo__link {
  display: flex;
}

#header__logo__link > img {
  max-width: 6.5rem;
  height: 1.5rem;
}

.nav__list {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  display: block;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  transition: background-color 0.2s ease;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.nav__link:hover {
  background-color: #ffffff0d;
}

.header__right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.header__btn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125;
  border-radius: 999px;
}

.header__btn--primary {
  background-color: #ffffff0d;
  color: white;
  width: max-content;
}

.header__btn--secondary {
  background-color: white;
  color: #08090a;
  width: max-content;
}

.hero__section {
  display: flex;
  position: relative;
  color: white;
  flex-direction: column;
  align-items: center;
}

.hero__section--bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./src/assets/svg/bg-dark.svg");
  top: -6rem;
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__section__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 104px;
  padding-bottom: 96px;
}

.hero__section__link {
  display: flex;
  border-radius: 999px;
  color: white;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  background-color: #ffffff26;
  width: max-content;
  gap: 0.975rem;
  align-items: center;
}

.hero__section__link:hover {
  background-color: #ffffff12;
}

.chip {
  background-color: #0c8c5e;
  border-radius: 999px;
  padding: 0.125rem 0.5rem;
}

.next {
  width: 0.875rem;
  height: 0.875rem;
}

.hero__section__content {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero__section__content > h1 {
  line-height: 115%;
  max-width: 43rem;
  font-size: 4rem;
  font-weight: 600;
  text-wrap: balance;
}

.hero__section__content > p {
  font-size: 1.125rem;
  line-height: 150%;
  max-width: 29.5rem;
  text-wrap: pretty;
}

.hero__section__form {
  display: flex;
  border-radius: 999px;
  background-color: #ffffff26;
  padding: 0.25rem;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem); /* Safari */
}

.hero__section__form > input {
  background: transparent;
  border: none;
  padding-inline: 0.725rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
}

.hero__section__form > button {
  border-radius: 999px;
  font-size: 0.875rem;
  padding: 4.5px 12px;
  color: #08090a;
  font-weight: 500;
  border: none;
  margin-inline: 16px;
}

.hero__section__bottom > img {
  width: 100%;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  border: 3px solid #ffffff0d;
  background-color: #08090a;
  max-width: 1080px;
  margin: 0 auto;
}

.customer__section {
  padding: 144px 32px 72px 32px;
}
.customer__section__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px 8px;
}

.customer__grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 64px;
}

.feature__section {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 1024px;
  margin: 0 auto;
}

.feature__section__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.feature__section__top > h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
}

.feature__section__top > p {
  text-align: center;
  text-wrap: balance;
  color: #ffffffb3;
  max-width: 648px;
  font-size: 16px;
  line-height: 24px;
}

.feature__section__grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "left right"
    "bottom bottom";
  gap: 10px;
}
.feature__section__grid__container > .left {
  grid-area: left;
}

.feature__section__grid__container > .right {
  grid-area: right;
}

.feature__section__grid__container > .bottom {
  grid-area: bottom;
}

.feature__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff12;
  border-radius: 24px;
}

.feature__card__top {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.feature__card__top-align-center {
  align-items: center;
  text-align: center;
}

.feature__name {
  line-height: 150%;
  font-weight: 500;
  text-transform: capitalize;
  color: #18e299;
}

.feature__title {
  font-size: 24px;
  line-height: 130%;
}

.feature__description {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffffb3;
  text-wrap: balance;
}
.feature__card__bottom > img {
  width: 100%;
}
